.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #295875 ;
    overflow-x: hidden;
    margin-bottom:20px;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 30px 10px 30px 50px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #324960;
    background-color: #95CAEA;
  }
  
  .sidenav h1 {
      align: center;
      color: white;
  }

  .logoutBtn {
    margin-top: 170px;
  }